{% extends 'base.html.twig' %}

{% block title %}Harmony Promotion | FAQ{% endblock %}

{% block body %}
<div class="container" style="padding: 50px;">
    <h1 class="text-center" style="font-family: 'Barlow'; margin-bottom: 50px; ">FOIRES AUX QUESTIONS</h1>
    <div class="alert alert-dark">
        <div class="d-flex justify-content-between flex-no-wrap">
            <h2 class="alert-heading" style="margin: 15px 0;">Qui est Harmony Promotion ?</h2>
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#bien1" aria-expanded="true" aria-controls="bien1">
                <i class="fas fa-chevron-down"></i>
            </button>
        </div>
        <div id="bien1" class="collapse" aria-labelledby="heading" data-parent="#bien1">
            <hr/>
            <p class="text-justify" style="font-family: 'Montserrat';">
                Nihil est enim virtute amabilius, nihil quod magis adliciat ad diligendum, quippe cum propter virtutem et probitatem etiam eos, quos numquam vidimus, 
                quodam modo diligamus. Quis est qui C. Fabrici, M'. Curi non cum caritate aliqua benevola memoriam usurpet, quos numquam viderit? quis autem est, 
                qui Tarquinium Superbum, qui Sp. Cassium, Sp. Maelium non oderit? Cum duobus ducibus de imperio in Italia est decertatum, Pyrrho et Hannibale; 
                ab altero propter probitatem eius non nimis alienos animos habemus, alterum propter crudelitatem semper haec civitas oderit.
            </p>
        </div>
    </div>
    <div class="alert alert-dark">
        <div class="d-flex justify-content-between flex-no-wrap">
            <h2 class="alert-heading" style="margin: 15px 0;">C’est quoi un logement neuf ?</h2>
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#bien2" aria-expanded="true" aria-controls="bien2">
                <i class="fas fa-chevron-down"></i>
            </button>
        </div>
        <div id="bien2" class="collapse" aria-labelledby="heading" data-parent="#bien2">
            <hr/>
            <p class="text-justify" style="font-family: 'Montserrat';">
                Nihil est enim virtute amabilius, nihil quod magis adliciat ad diligendum, quippe cum propter virtutem et probitatem etiam eos, quos numquam vidimus, 
                quodam modo diligamus. Quis est qui C. Fabrici, M'. Curi non cum caritate aliqua benevola memoriam usurpet, quos numquam viderit? quis autem est, 
                qui Tarquinium Superbum, qui Sp. Cassium, Sp. Maelium non oderit? Cum duobus ducibus de imperio in Italia est decertatum, Pyrrho et Hannibale; 
                ab altero propter probitatem eius non nimis alienos animos habemus, alterum propter crudelitatem semper haec civitas oderit.
            </p>
        </div>
    </div>
    <div class="alert alert-dark">
        <div class="d-flex justify-content-between flex-no-wrap">
            <h2 class="alert-heading" style="margin: 15px 0;">Comment se passe l’achat d’un appartement sur plan ?</h2>
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#bien3" aria-expanded="true" aria-controls="bien3">
                <i class="fas fa-chevron-down"></i>
            </button>
        </div>
        <div id="bien3" class="collapse" aria-labelledby="heading" data-parent="#bien3">
            <hr/>
            <p class="text-justify" style="font-family: 'Montserrat';">
                Nihil est enim virtute amabilius, nihil quod magis adliciat ad diligendum, quippe cum propter virtutem et probitatem etiam eos, quos numquam vidimus, 
                quodam modo diligamus. Quis est qui C. Fabrici, M'. Curi non cum caritate aliqua benevola memoriam usurpet, quos numquam viderit? quis autem est, 
                qui Tarquinium Superbum, qui Sp. Cassium, Sp. Maelium non oderit? Cum duobus ducibus de imperio in Italia est decertatum, Pyrrho et Hannibale; 
                ab altero propter probitatem eius non nimis alienos animos habemus, alterum propter crudelitatem semper haec civitas oderit.
            </p>
        </div>
    </div>
    <div class="alert alert-dark">
        <div class="d-flex justify-content-between flex-no-wrap">
            <h2 class="alert-heading" style="margin: 15px 0;">Pourquoi acheter chez Harmony Promotion ?</h2>
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#bien4" aria-expanded="true" aria-controls="bien4">
                <i class="fas fa-chevron-down"></i>
            </button>
        </div>
        <div id="bien4" class="collapse" aria-labelledby="heading" data-parent="#bien4">
            <hr/>
            <p class="text-justify" style="font-family: 'Montserrat';">
                Nihil est enim virtute amabilius, nihil quod magis adliciat ad diligendum, quippe cum propter virtutem et probitatem etiam eos, quos numquam vidimus, 
                quodam modo diligamus. Quis est qui C. Fabrici, M'. Curi non cum caritate aliqua benevola memoriam usurpet, quos numquam viderit? quis autem est, 
                qui Tarquinium Superbum, qui Sp. Cassium, Sp. Maelium non oderit? Cum duobus ducibus de imperio in Italia est decertatum, Pyrrho et Hannibale; 
                ab altero propter probitatem eius non nimis alienos animos habemus, alterum propter crudelitatem semper haec civitas oderit.
            </p>
        </div>
    </div>
    <div class="alert alert-dark">
        <div class="d-flex justify-content-between flex-no-wrap">
            <h2 class="alert-heading" style="margin: 15px 0;">Pourquoi investir dans l’immobilier neuf en 2021 ?</h2>
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#bien5" aria-expanded="true" aria-controls="bien5">
                <i class="fas fa-chevron-down"></i>
            </button>
        </div>
        <div id="bien5" class="collapse" aria-labelledby="heading" data-parent="#bien5">
            <hr/>
            <p class="text-justify" style="font-family: 'Montserrat';">
                Nihil est enim virtute amabilius, nihil quod magis adliciat ad diligendum, quippe cum propter virtutem et probitatem etiam eos, quos numquam vidimus, 
                quodam modo diligamus. Quis est qui C. Fabrici, M'. Curi non cum caritate aliqua benevola memoriam usurpet, quos numquam viderit? quis autem est, 
                qui Tarquinium Superbum, qui Sp. Cassium, Sp. Maelium non oderit? Cum duobus ducibus de imperio in Italia est decertatum, Pyrrho et Hannibale; 
                ab altero propter probitatem eius non nimis alienos animos habemus, alterum propter crudelitatem semper haec civitas oderit.
            </p>
        </div>
    </div>

</div>
{% endblock %}